.scc-top-control {
    align-items: start;
}

.scc-top-indicator {
    bottom: unset;
}

.scc-below-control {
    position: relative;
    left: 0;
    top: 0;
    font-family: var(--bs-font-sans-serif);
}
